{% extends "blog/base.html" %}
{% block content %}
    <h1>About the Blog</h1>
    <p>I created this blog on a whim as a way to learn Django, Python's frontend framework. I enjoy coding in Python so I thought that learning Django would be a cool way to marry Python with my training in web development. It turned out to be exactly that, and more. What I thought was going to be a quick foray into web development with Django ended up requiring a dive into Sqlite3 and Postgresql, a slew of Python packages that I had never used before, and a lot of Heroku troubleshooting during deployment. Over all, building the site has been a great learning experience that has allowed me to expand my skills in ways I hadn't initially anticipated. No complaints there! I intend to continuing adding functionality and styling as time goes on. Don't hesitate to contact me via LinkedIn or check out my portfolio. Cheers!</p>
    <a class="btn btn-outline-info mb-4" target="_blank" href="www.linkedin.com/in/tim-edwards-dev">LinkedIn</a>
    <a class="btn btn-outline-info mb-4" target="_blank" href="https://edwardsjtimothy.github.io/Tim-Edwards-Portfolio/">Portfolio</a>
{% endblock content %}


